body {
    font-family: /* Safari for OS X and iOS (San Francisco) */ -apple-system, 
    /* Chrome < 56 for OS X (San Francisco) */ BlinkMacSystemFont, 
    /* Windows */ "Segoe UI", 
    /* Android */ "Roboto", 
    /* Basic web fallback */ "Helvetica Neue", Arial, sans-serif, 
    /* Emoji fonts */ "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


#feedButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.feedButton {
    font-size: 2rem;
    padding: 1.5em 0;
    border-radius: .2em;
    border: 1px solid black;
    background: transparent;
}

.loading-feeds,
.feedItem h2, 
.feedItem p {
    font-size: 3rem;
}

